@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: min-content min-content 1fr;
}
